* {
  margin: 0px;
  padding:0px;
}

body {
  font-family:Helvetica,Arial,sans-serif; 
}

.container{
  width:600px;
  margin:0 auto;

}

.container h2{
  color:#FF0084; 
  margin-top:12px;
  height:34px;
  border-bottom:1px dashed #FF0084;
}

.container h2 .using{
  color:#445588  ; 
  font-size:0.6em;
  font-weight:lighter;
}


.container .help{
  padding-top:12px !important;
  float:right !important;
  color:#cccccc !important; 
  font-size:0.5em;
  font-weight:bold;
}

.container .time{
  float:right;
  font-size:0.8em;
  font-family:Arial,sans-serif; 
  color:black;
}

.info{
  margin-top:8px; 
  padding:4px;
  font-size:0.8em;
  border:1px dotted #D3A350;
  background:#FEEFCB;
}

.auction_item_title{
  margin-top:14px; 
}

.auction_item_image{
  margin:0 auto;
  border:1px dotted #cccccc;
  width:600px;
  text-align:center;
}

.bid_form{
  width:600px;
  margin:0 auto;
}

.yellowBackground{
  background-color: yellow;
}

.footer{
  margin-top:80px;
  padding-top:5px;
  color:black;
  text-align:center;
  font-size:0.8em;
  border-top:1px dashed #FF0084;
}
